@{
    ViewData["Title"] = "Booking Confirmed";
}

<div style="text-align: center; padding: 50px;">
    <h2 style="color: #4CAF50;"> Booking Completed Successfully</h2>
    <p>
      You Can Check Page of My Bookings
    </p>
    <a asp-action="MyBookings" asp-controller="Booking" class="btn btn-primary" style="margin-top: 20px;">
       View My Bookings
    </a>
</div>
